@font-face {
  font-family: PixelFont;
  font-weight: 400;
  src: url("../assets/fonts/VCR_OSD_MONO_1.001.ttf");
}
html, body{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'PixelFont';
  font-size: xx-large;
  font-weight: 800;
  overflow: hidden;
}